body {
  margin: 20px 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 14px;
}
/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

label {
  color: black;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 16px;
}